:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  body {
    margin: 0;
  }

  .container {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .primary-button {
    font-size: 16px;
    font-weight: bold;
    color: #1378C8;
    border-color: #008BFF;
    border-radius: 10px;
    background-color: white;
    padding: 5px 10px;

    &:active {
      border-color: #1378C8;
      color: #095796;
      transform: scale(0.95);
    }

    @media(min-width: 800px){
      font-size: 20px;
      padding: 10px 20px;

    }
  }
}